.list-group-item p {


}

h5 {
    text-align:left;
}

.nicer {
    text-align:center;
    font-size: 16px;
}
.connectbtn,
.disconnectbtn {
    color:white !important;
}

.hidden {
    display:none;
}