extends ../../layout

block content
  style
    include style.css
  .row
    .h3=title
  .row.mb-4.mt-3
    .col-md-8.offset-md-2.nicer We believe, that you should have full control over your business telephony. sipgate.io is the most complete, fast and easy to use full featured telephony API that is always available, but never required.
  .row
    .col-md-3
        .list-group
          a.list-group-item.list-group-item-action.active(href="javascript:")
            i.fas.fa-money-bill &nbsp;
            | Account Balance
            code.invisible.d-none
              include samples/get_balance.js
          a.list-group-item.list-group-item-action(href="javascript:")
            i.fas.fa-user &nbsp;
            | User Information
            code.invisible.d-none
              include samples/get_user_information.js
          a.list-group-item.list-group-item-action(href="javascript:")
            i.fas.fa-sms &nbsp;
            | Send SMS
            code.invisible.d-none
              include samples/send_sms.js
          a.list-group-item.list-group-item-action(href="javascript:")
            i.fas.fa-map-marked-alt &nbsp;
            | Calls on a Map
            code.invisible.d-none
              include samples/calls_on_map.js
          a.list-group-item.list-group-item-action(href="javascript:")
            i.fas.fa-route &nbsp;
            | Direct API Access
            code.invisible.d-none
              include samples/direct_api.js
    div(id="io-editor").col-md-8.offset-md-1
  script(src="https://embed.runkit.com")
  script!= `accessToken = "${accessToken}";`
  script
    include script.js