extends layout

block content
  h1 sipgate boilerplate
  p.lead A boilerplate for sipgate.io based Node.js web applications.
  .row
    .col-md-7
      p Oh, the Awesomeness. It has never been easier to build sipgate API based applications in seconds.
      p With sipgate boilerplate you just check out and start playing. based on the crazy cool Hackathon-Starter and stripped down to be even easier to use for sipgate projects.
      p The sipgate boilerplate documentation is  
        a.btn.btn-primary(href="https://github.com/BlackMac/sipgate-boilerplate" target=blank) available on github
    .col-md-5
      if !user
        form(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          col-md-12.pl-2
            a.btn.btn-block.btn-sipgate.btn-social(href='/auth/sipgate')
              img(src='/img/logo_sipgate.png')
              | Continue with sipgate
  