extends ../../layout

block content
  script creds=!{extension}
  script(src='/js/sip-0.15.1.min.js')
  script
    include script.js
  style
    include style.css

  .row
    .col-md-4.phone.offset-md-4
      .card.initializing.state
        .card-body
          div.pulsating-circle
          h5.card-title Initialisierung
      .card.idle.state(style="display:none")
        .card-body
          p.card-text
            input.number.col-md-12.form-control(type="text" placeholder="Nummer: +491234567")
        .card-footer
          button.btn.btn-primary.form-control.dial Anrufen
      .card.incoming.state(style="display:none")
        .card-body
          div.pulsating-circle
          p.card-text
            span.remotenumber +49123456
            | ruft an...
        .card-footer
          button.btn.btn-success.form-control.answer Antworten
          button.btn.btn-danger.form-control.reject Ablehnen
      .card.active.state(style="display:none")
        .card-body
          p.card-text
            span.remotenumber +49123456
            | im Gespräch
        .card-footer
          button.btn.btn-danger.form-control.hangup Auflegen
      .card.initiating.state(style="display:none")
        .card-body
          div.pulsating-circle
          p.card-text
            span.remotenumber +49123456
            | wird aufgebaut...
        .card-footer
          button.btn.btn-danger.form-control.hangup Auflegen
      .card.preparing.state(style="display:none")
        div.pulsating-circle
        .card-body
          p.card-text
            span.remotenumber +49123456
            | wird angerufen...
        .card-footer
          button.btn.btn-danger.form-control.hangup Auflegen
    audio(id="localAudio")
